<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<% @tasks.each do |task| %>
<%= task.name %>
<%= task.description %>
  <%= link_to 'show', task_path(task)%>
  <%= link_to 'edit', edit_task_path(task)%>
  <%= link_to 'delete', task_path(task),
  method: :delete,
  data: {confirm: "Are you sure?"} %>


<% end %>

